SDL2.dll
sdl/include/SDL2/begin_code.h
sdl/include/SDL2/close_code.h
sdl/include/SDL2/SDL_assert.h
sdl/include/SDL2/SDL_atomic.h
sdl/include/SDL2/SDL_audio.h
sdl/include/SDL2/SDL_bits.h
sdl/include/SDL2/SDL_blendmode.h
sdl/include/SDL2/SDL_clipboard.h
sdl/include/SDL2/SDL_config.h
sdl/include/SDL2/SDL_cpuinfo.h
sdl/include/SDL2/SDL_egl.h
sdl/include/SDL2/SDL_endian.h
sdl/include/SDL2/SDL_error.h
sdl/include/SDL2/SDL_events.h
sdl/include/SDL2/SDL_filesystem.h
sdl/include/SDL2/SDL_gamecontroller.h
sdl/include/SDL2/SDL_gesture.h
sdl/include/SDL2/SDL_guid.h
sdl/include/SDL2/SDL_haptic.h
sdl/include/SDL2/SDL_hidapi.h
sdl/include/SDL2/SDL_hints.h
sdl/include/SDL2/SDL_joystick.h
sdl/include/SDL2/SDL_keyboard.h
sdl/include/SDL2/SDL_keycode.h
sdl/include/SDL2/SDL_loadso.h
sdl/include/SDL2/SDL_locale.h
sdl/include/SDL2/SDL_log.h
sdl/include/SDL2/SDL_main.h
sdl/include/SDL2/SDL_messagebox.h
sdl/include/SDL2/SDL_metal.h
sdl/include/SDL2/SDL_misc.h
sdl/include/SDL2/SDL_mouse.h
sdl/include/SDL2/SDL_mutex.h
sdl/include/SDL2/SDL_name.h
sdl/include/SDL2/SDL_opengl_glext.h
sdl/include/SDL2/SDL_opengl.h
sdl/include/SDL2/SDL_opengles.h
sdl/include/SDL2/SDL_opengles2_gl2.h
sdl/include/SDL2/SDL_opengles2_gl2ext.h
sdl/include/SDL2/SDL_opengles2_gl2platform.h
sdl/include/SDL2/SDL_opengles2_khrplatform.h
sdl/include/SDL2/SDL_opengles2.h
sdl/include/SDL2/SDL_pixels.h
sdl/include/SDL2/SDL_platform.h
sdl/include/SDL2/SDL_power.h
sdl/include/SDL2/SDL_quit.h
sdl/include/SDL2/SDL_rect.h
sdl/include/SDL2/SDL_render.h
sdl/include/SDL2/SDL_revision.h
sdl/include/SDL2/SDL_rwops.h
sdl/include/SDL2/SDL_scancode.h
sdl/include/SDL2/SDL_sensor.h
sdl/include/SDL2/SDL_shape.h
sdl/include/SDL2/SDL_stdinc.h
sdl/include/SDL2/SDL_surface.h
sdl/include/SDL2/SDL_system.h
sdl/include/SDL2/SDL_syswm.h
sdl/include/SDL2/SDL_test_assert.h
sdl/include/SDL2/SDL_test_common.h
sdl/include/SDL2/SDL_test_compare.h
sdl/include/SDL2/SDL_test_crc32.h
sdl/include/SDL2/SDL_test_font.h
sdl/include/SDL2/SDL_test_fuzzer.h
sdl/include/SDL2/SDL_test_harness.h
sdl/include/SDL2/SDL_test_images.h
sdl/include/SDL2/SDL_test_log.h
sdl/include/SDL2/SDL_test_md5.h
sdl/include/SDL2/SDL_test_memory.h
sdl/include/SDL2/SDL_test_random.h
sdl/include/SDL2/SDL_test.h
sdl/include/SDL2/SDL_thread.h
sdl/include/SDL2/SDL_timer.h
sdl/include/SDL2/SDL_touch.h
sdl/include/SDL2/SDL_types.h
sdl/include/SDL2/SDL_version.h
sdl/include/SDL2/SDL_video.h
sdl/include/SDL2/SDL_vulkan.h
sdl/include/SDL2/SDL.h
sdl/lib/libSDL2_test.a
sdl/lib/libSDL2_test.la
sdl/lib/libSDL2.a
sdl/lib/libSDL2.dll.a
sdl/lib/libSDL2.la
sdl/lib/libSDL2main.a
sdl/lib/libSDL2main.la
sdl/lib/cmake/SDL2/sdl2-config-version.cmake
sdl/lib/cmake/SDL2/sdl2-config.cmake
sdl/lib/pkgconfig/sdl2.pc
.vscode/c_cpp_properties.json
